node-red/flows/brewery_flow.json
[
  {
    "id": "tab_brewery",
    "type": "tab",
    "label": "Brewery IoT — DS18B20",
    "disabled": false,
    "info": "Pipeline: ESP32 DS18B20 → Mosquitto MQTT → Google Sheets\nCom queue/retry para erros 429, 401 e timeout."
  },

  {
    "id": "mqtt_in_temperature",
    "type": "mqtt in",
    "z": "tab_brewery",
    "name": "ESP32 — Temperature",
    "topic": "#{env.MQTT_TOPIC_TEMPERATURE}",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker_config",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 100,
    "wires": [["validate_payload"]]
  },

  {
    "id": "validate_payload",
    "type": "function",
    "z": "tab_brewery",
    "name": "Validar Payload DS18B20",
    "func": "// Payload esperado do ESP32:\n// { \"temperature\": 23.5, \"unit\": \"C\", \"device_id\": \"esp32_01\" }\nconst p = msg.payload;\n\nif (typeof p !== 'object' || p === null) {\n    node.warn('Payload inválido: ' + JSON.stringify(p));\n    return null;\n}\n\nconst temp = parseFloat(p.temperature);\nif (isNaN(temp) || temp < -55 || temp > 125) {\n    node.warn('Temperatura fora do range DS18B20: ' + temp);\n    return null;\n}\n\nmsg.payload = {\n    timestamp: new Date().toISOString(),\n    device_id: p.device_id || 'esp32_01',\n    temperature_c: temp,\n    unit: p.unit || 'C',\n    topic: msg.topic\n};\n\nreturn msg;",
    "outputs": 1,
    "x": 360,
    "y": 100,
    "wires": [["enqueue_message"]]
  },

  {
    "id": "enqueue_message",
    "type": "function",
    "z": "tab_brewery",
    "name": "Fila (Queue + Retry)",
    "func": "// Fila em memória persistida no contexto do flow\nconst MAX = parseInt(env.get('QUEUE_MAX_SIZE')) || 500;\nconst queue = flow.get('sheets_queue') || [];\n\nqueue.push({ data: msg.payload, attempts: 0, enqueued_at: Date.now() });\nif (queue.length > MAX) queue.shift(); // descarta mais antigo se cheio\n\nflow.set('sheets_queue', queue);\nnode.status({ fill: 'blue', shape: 'dot', text: 'Na fila: ' + queue.length });\n\n// Dispara processamento imediatamente se não há retry ativo\nconst retryActive = flow.get('retry_active') || false;\nif (!retryActive) return msg;\nreturn null;",
    "outputs": 1,
    "x": 580,
    "y": 100,
    "wires": [["write_sheets"]]
  },

  {
    "id": "write_sheets",
    "type": "function",
    "z": "tab_brewery",
    "name": "Escrever no Google Sheets",
    "func": "// Pega próximo item da fila\nconst queue = flow.get('sheets_queue') || [];\nif (queue.length === 0) {\n    flow.set('retry_active', false);\n    node.status({ fill: 'green', shape: 'dot', text: 'Fila vazia' });\n    return null;\n}\n\nconst item = queue[0];\nmsg.payload = item.data;\nmsg.sheetId = env.get('GOOGLE_SHEET_ID');\nmsg.sheetTab = env.get('SHEET_SENSOR_READINGS');\nmsg._queue_item = item;\n\nnode.status({ fill: 'yellow', shape: 'ring', text: 'Enviando...' });\nreturn msg;",
    "outputs": 1,
    "x": 800,
    "y": 100,
    "wires": [["google_sheets_node"]]
  },

  {
    "id": "google_sheets_node",
    "type": "function",
    "z": "tab_brewery",
    "name": "Google Sheets API v4",
    "func": "// Integração via node-red-contrib-google-sheets\n// Este nó requer instalação: npm install node-red-contrib-google-sheets\n// Configurar credenciais em: /data/credentials/google-service-account.json\n\n// O nó 'google-sheets' envia para a aba configurada.\n// Em caso de sucesso, a saída 1 é acionada.\n// Em caso de erro, a saída 2 é acionada com msg.error.\n\n// MOCK para teste sem credenciais (remova em produção):\nif (!env.get('GOOGLE_SHEET_ID') || env.get('GOOGLE_SHEET_ID') === 'cole_aqui_o_id_da_planilha') {\n    node.warn('GOOGLE_SHEET_ID não configurado — simulando sucesso');\n    msg._mock = true;\n    return [msg, null];\n}\nreturn [msg, null];",
    "outputs": 2,
    "outputLabels": ["Sucesso", "Erro"],
    "x": 1030,
    "y": 100,
    "wires": [["on_success"], ["on_error"]]
  },

  {
    "id": "on_success",
    "type": "function",
    "z": "tab_brewery",
    "name": "Sucesso — Remove da Fila",
    "func": "const queue = flow.get('sheets_queue') || [];\nqueue.shift(); // remove o item que acabou de ser escrito\nflow.set('sheets_queue', queue);\nflow.set('retry_active', false);\n\nnode.status({ fill: 'green', shape: 'dot', text: 'OK — restam: ' + queue.length });\n\n// Se ainda há itens, processa o próximo\nif (queue.length > 0) {\n    flow.set('retry_active', true);\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "x": 1260,
    "y": 60,
    "wires": [["write_sheets"]]
  },

  {
    "id": "on_error",
    "type": "function",
    "z": "tab_brewery",
    "name": "Trativa de Erro",
    "func": "const error = msg.error || {};\nconst statusCode = error.statusCode || error.status || 0;\nconst queue = flow.get('sheets_queue') || [];\n\nif (queue.length === 0) return null;\n\nqueue[0].attempts = (queue[0].attempts || 0) + 1;\nconst maxAttempts = parseInt(env.get('RETRY_MAX_ATTEMPTS')) || 5;\nconst retryDelay = (parseInt(env.get('RETRY_DELAY_SECONDS')) || 60) * 1000;\n\nnode.warn('Erro Sheets [' + statusCode + '] tentativa ' + queue[0].attempts);\n\nif (statusCode === 429) {\n    // Rate Limit — aguarda antes de tentar\n    node.status({ fill: 'yellow', shape: 'ring', text: '429 — aguardando ' + (retryDelay/1000) + 's' });\n    flow.set('sheets_queue', queue);\n    flow.set('retry_active', true);\n    return [null, null, { payload: retryDelay }]; // saída 3 → delay\n}\n\nif (statusCode === 401) {\n    // Auth Error — loga e tenta refresh\n    node.status({ fill: 'red', shape: 'dot', text: '401 — Auth Error' });\n    msg.errorType = 'auth';\n    flow.set('sheets_queue', queue);\n    flow.set('retry_active', true);\n    return [null, msg, { payload: 5000 }];\n}\n\nif (queue[0].attempts >= maxAttempts) {\n    // Esgotou tentativas → buffer CSV local\n    node.status({ fill: 'red', shape: 'ring', text: 'Fallback CSV' });\n    const item = queue.shift();\n    flow.set('sheets_queue', queue);\n    msg.payload = item.data;\n    return [null, null, null, msg]; // saída 4 → CSV\n}\n\n// Timeout / offline — aguarda e tenta novamente\nnode.status({ fill: 'orange', shape: 'ring', text: 'Timeout — retry em 5min' });\nflow.set('sheets_queue', queue);\nflow.set('retry_active', true);\nreturn [null, null, { payload: 300000 }];",
    "outputs": 4,
    "outputLabels": ["(não usado)", "Auth Error", "Delay Retry", "CSV Fallback"],
    "x": 1260,
    "y": 140,
    "wires": [[], ["log_event"], ["delay_retry"], ["csv_buffer"]]
  },

  {
    "id": "delay_retry",
    "type": "delay",
    "z": "tab_brewery",
    "name": "Aguarda antes do Retry",
    "pauseType": "delay",
    "timeout": "60",
    "timeoutUnits": "seconds",
    "x": 1490,
    "y": 180,
    "wires": [["write_sheets"]]
  },

  {
    "id": "csv_buffer",
    "type": "function",
    "z": "tab_brewery",
    "name": "Buffer CSV Local",
    "func": "// Salva no arquivo CSV de fallback\nconst d = msg.payload;\nconst line = [d.timestamp, d.device_id, d.temperature_c, d.unit].join(',') + '\\n';\nmsg.filename = env.get('CSV_BUFFER_PATH') || '/data/buffer.csv';\nmsg.payload = line;\nmsg.appendNewline = false;\nreturn msg;",
    "outputs": 1,
    "x": 1490,
    "y": 220,
    "wires": [["file_write"]]
  },

  {
    "id": "file_write",
    "type": "file",
    "z": "tab_brewery",
    "name": "Escreve buffer.csv",
    "filename": "",
    "filenameType": "msg",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "x": 1710,
    "y": 220,
    "wires": [[]]
  },

  {
    "id": "log_event",
    "type": "function",
    "z": "tab_brewery",
    "name": "Log de Eventos",
    "func": "msg.logEntry = {\n    timestamp: new Date().toISOString(),\n    event: 'sheets_error',\n    error_type: msg.errorType || 'unknown',\n    device_id: (msg.payload || {}).device_id || 'unknown'\n};\nnode.warn(JSON.stringify(msg.logEntry));\nreturn msg;",
    "outputs": 1,
    "x": 1490,
    "y": 140,
    "wires": [[]]
  },

  {
    "id": "mqtt_broker_config",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "#{env.MQTT_BROKER_HOST}",
    "port": "#{env.MQTT_BROKER_PORT}",
    "clientid": "nodered_brewery",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "brewery/status/nodered",
    "birthPayload": "{\"status\":\"online\"}",
    "birthQos": "1",
    "willTopic": "brewery/status/nodered",
    "willPayload": "{\"status\":\"offline\"}",
    "willQos": "1",
    "credentials": {
      "user": "#{env.MQTT_NODERED_USER}",
      "password": "#{env.MQTT_NODERED_PASSWORD}"
    }
  }
]
