node-red/flows/brewery_flow.json
[{"id":"tab-brewery","type":"tab","label":"Brewery IoT","disabled":false,"info":"ESP32 DS18B20 → Mosquitto → Google Sheets"},{"id":"cfg-mqtt","type":"mqtt-broker","name":"Mosquitto Docker","broker":"mosquitto","port":"1883","clientid":"nodered-brewery","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":false,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"cfg-gsa","type":"google-service-account","name":"Service Account Brewery","scope":["https://www.googleapis.com/auth/spreadsheets"],"way":"json"},{"id":"n-mqtt-in","type":"mqtt in","z":"tab-brewery","name":"DS18B20","topic":"${MQTT_TOPIC_TEMPERATURE}","qos":"1","datatype":"utf8","broker":"cfg-mqtt","nl":false,"rap":false,"inputs":0,"x":130,"y":100,"wires":[["n-parse"]]},{"id":"n-parse","type":"function","z":"tab-brewery","name":"Parse JSON ESP32","func":"let data;\ntry {\n    data = JSON.parse(msg.payload);\n} catch(e) {\n    node.warn('Payload não é JSON válido: ' + msg.payload);\n    return null;\n}\n\n// Extrai campos do JSON publicado pelo ESP32\nmsg.temperatura      = data.temperatura;\nmsg.temperatura_alvo = data.temperatura_alvo;\nmsg.ssr_state        = data.ssr_state;\nmsg.potencia_esp_w   = data.potencia_esp_w;\nmsg.energia_esp_wh   = data.energia_esp_wh;\nmsg.sensor           = data.sensor || 'DS18B20';\n\nreturn msg;","outputs":1,"x":300,"y":100,"wires":[["n-validate"]]},{"id":"n-validate","type":"function","z":"tab-brewery","name":"Validar DS18B20","func":"const temp = parseFloat(msg.temperatura);\nconst MIN = parseFloat(env.get('SENSOR_TEMP_MIN') || '-55');\nconst MAX = parseFloat(env.get('SENSOR_TEMP_MAX') || '125');\n\nif (isNaN(temp) || temp < MIN || temp > MAX) {\n    node.warn('Leitura inválida: ' + temp);\n    node.status({fill:'red', shape:'ring', text:'inválida: '+temp});\n    const evMsg = {\n        payload: [[\n            new Date().toISOString(),\n            'SENSOR_INVALID',\n            'Valor fora do range: ' + temp,\n            'n-validate'\n        ]],\n        spreadsheetId: env.get('SHEETS_SPREADSHEET_ID'),\n        sheetName: env.get('SHEETS_TAB_EVENTS') || 'event_logs',\n        range: (env.get('SHEETS_TAB_EVENTS') || 'event_logs') + '!A:D'\n    };\n    node.send([null, evMsg]);\n    return null;\n}\n\nconst ts  = new Date().toISOString();\nconst tab = env.get('SHEETS_TAB_READINGS') || 'sensor_readings';\n\nglobal.set('last_temp', temp);\nglobal.set('last_reading_ts', Date.now());\nglobal.set('total_readings', (global.get('total_readings') || 0) + 1);\n\n// Linha para o Sheets:\n// timestamp | temperatura | sensor | temperatura_alvo | ssr_state | potencia_esp_w | energia_esp_wh\nmsg.timestamp     = ts;\nmsg.temperature   = temp;\nmsg.payload       = [[\n    ts,\n    temp,\n    msg.sensor || 'DS18B20',\n    msg.temperatura_alvo,\n    msg.ssr_state,\n    msg.potencia_esp_w,\n    msg.energia_esp_wh\n]];\nmsg.sheets_data   = msg.payload;\nmsg.spreadsheetId = env.get('SHEETS_SPREADSHEET_ID');\nmsg.sheetName     = tab;\nmsg.range         = tab + '!A:G';\nmsg._attempts     = 0;\n\nnode.status({fill:'green', shape:'dot', text: temp + '°C | ssr:' + msg.ssr_state});\nreturn [msg, null];","outputs":2,"x":490,"y":100,"wires":[["n-queue-add","n-dbg-valid"],["n-event-sheets"]]},{"id":"n-queue-add","type":"function","z":"tab-brewery","name":"Enfileirar","func":"const MAX_Q = parseInt(env.get('QUEUE_MAX_SIZE') || '500');\nconst queue  = flow.get('queue') || [];\n\nif (!msg._fromRetry) {\n    if (queue.length >= MAX_Q) {\n        node.warn('Fila cheia! Descartando: ' + msg.timestamp);\n        const evMsg = {\n            payload: [[\n                new Date().toISOString(),\n                'QUEUE_OVERFLOW',\n                'Fila cheia (' + MAX_Q + '). Leitura descartada: ' + msg.timestamp,\n                'n-queue-add'\n            ]],\n            spreadsheetId: env.get('SHEETS_SPREADSHEET_ID'),\n            sheetName: env.get('SHEETS_TAB_EVENTS') || 'event_logs',\n            range: (env.get('SHEETS_TAB_EVENTS') || 'event_logs') + '!A:D'\n        };\n        node.send([null, evMsg]);\n        return null;\n    }\n    queue.push({\n        sheets_data:   msg.sheets_data,\n        timestamp:     msg.timestamp,\n        temperature:   msg.temperature,\n        spreadsheetId: msg.spreadsheetId,\n        sheetName:     msg.sheetName,\n        range:         msg.range,\n        attempts:      0\n    });\n    flow.set('queue', queue);\n}\n\nconst item = queue[0];\nif (!item) return null;\n\nmsg.sheets_data   = item.sheets_data;\nmsg.timestamp     = item.timestamp;\nmsg.temperature   = item.temperature;\nmsg.spreadsheetId = item.spreadsheetId;\nmsg.sheetName     = item.sheetName;\nmsg.range         = item.range;\nmsg._attempts     = item.attempts;\nmsg.payload       = item.sheets_data;\n\nnode.status({fill:'blue', shape:'ring', text:'fila: ' + queue.length});\nreturn [msg, null];","outputs":2,"x":680,"y":100,"wires":[["n-sheets"],["n-event-sheets"]]},{"id":"n-sheets","type":"google-spreadsheet","z":"tab-brewery","name":"sensor_readings","auth":"cfg-gsa","sheet":"1ogohXwcwdkCS7RAQuY8yxecusmT3aZYUjsljqtUsw40","range":"sensor_readings!A:G","method":"append","action":"set","line":false,"column":false,"save":"_sheet","selfields":[""],"input":"payload","output":"payload","saveType":"msg","inputType":"msg","outputType":"msg","sheetType":"str","rangeType":"str","x":880,"y":100,"wires":[["n-success","n-dbg-sheets"],[]]},{"id":"n-success","type":"function","z":"tab-brewery","name":"Sucesso — Limpar Fila","func":"const queue = flow.get('queue') || [];\nqueue.shift();\nflow.set('queue', queue);\nnode.status({fill:'green', shape:'dot', text:'OK | fila: ' + queue.length});\nreturn msg;","outputs":1,"x":1100,"y":60,"wires":[[]]},{"id":"n-catch","type":"catch","z":"tab-brewery","name":"Erro Sheets","scope":["n-sheets"],"uncaught":false,"x":880,"y":220,"wires":[["n-retry"]]},{"id":"n-retry","type":"function","z":"tab-brewery","name":"Retry / CSV Fallback","func":"const RETRY_MAX   = parseInt(env.get('RETRY_MAX_ATTEMPTS') || '5');\nconst RETRY_DELAY = parseInt(env.get('RETRY_DELAY_MS')      || '60000');\n\nconst queue = flow.get('queue') || [];\nconst item  = queue[0];\nif (!item) return null;\n\nitem.attempts = (item.attempts || 0) + 1;\nflow.set('queue', queue);\nglobal.set('total_errors', (global.get('total_errors') || 0) + 1);\n\nconst evRetry = {\n    payload: [[\n        new Date().toISOString(),\n        'SHEETS_RETRY',\n        'Tentativa ' + item.attempts + '/' + RETRY_MAX + ' | ' + item.timestamp,\n        'n-retry'\n    ]],\n    spreadsheetId: env.get('SHEETS_SPREADSHEET_ID'),\n    sheetName: env.get('SHEETS_TAB_EVENTS') || 'event_logs',\n    range: (env.get('SHEETS_TAB_EVENTS') || 'event_logs') + '!A:D'\n};\n\nif (item.attempts >= RETRY_MAX) {\n    node.warn('Fallback CSV: ' + item.timestamp);\n    queue.shift();\n    flow.set('queue', queue);\n\n    const row = item.sheets_data[0];\n    const csvLine = row.join(',') + '\\n';\n    const csvLines = (global.get('csv_buffer_lines') || 0) + 1;\n    global.set('csv_buffer_lines', csvLines);\n\n    const csvMsg = {\n        payload:  csvLine,\n        filename: env.get('BUFFER_CSV_PATH') || '/data/buffer.csv'\n    };\n\n    const evFallback = {\n        payload: [[\n            new Date().toISOString(),\n            'SHEETS_FALLBACK_CSV',\n            'Max tentativas atingido. Salvo em CSV. Leitura: ' + item.timestamp,\n            'n-retry'\n        ]],\n        spreadsheetId: env.get('SHEETS_SPREADSHEET_ID'),\n        sheetName: env.get('SHEETS_TAB_EVENTS') || 'event_logs',\n        range: (env.get('SHEETS_TAB_EVENTS') || 'event_logs') + '!A:D'\n    };\n\n    node.status({fill:'red', shape:'ring', text:'CSV fallback | fila: ' + queue.length});\n    node.send([null, csvMsg, evFallback]);\n    return null;\n}\n\nconst retryMsg = {\n    payload:       item.sheets_data,\n    sheets_data:   item.sheets_data,\n    timestamp:     item.timestamp,\n    temperature:   item.temperature,\n    spreadsheetId: item.spreadsheetId,\n    sheetName:     item.sheetName,\n    range:         item.range,\n    _attempts:     item.attempts,\n    _fromRetry:    true\n};\nnode.status({fill:'yellow', shape:'ring', text:'retry ' + item.attempts + '/' + RETRY_MAX});\nsetTimeout(() => { node.send([retryMsg, null, evRetry]); }, RETRY_DELAY);\nreturn null;","outputs":3,"x":1100,"y":220,"wires":[["n-sheets"],["n-csv"],["n-event-sheets"]]},{"id":"n-csv","type":"file","z":"tab-brewery","name":"CSV Buffer","filename":"BUFFER_CSV_PATH","filenameType":"env","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":1310,"y":260,"wires":[[]]},{"id":"n-dbg-valid","type":"debug","z":"tab-brewery","name":"Leitura válida","active":true,"tosidebar":true,"complete":"payload","x":490,"y":200,"wires":[]},{"id":"n-dbg-sheets","type":"debug","z":"tab-brewery","name":"Sheets OK","active":true,"tosidebar":true,"complete":"payload","x":1100,"y":100,"wires":[]},{"id":"n-mqtt-status","type":"status","z":"tab-brewery","name":"Status MQTT","scope":["n-mqtt-in"],"x":130,"y":380,"wires":[["n-format-event"]]},{"id":"n-format-event","type":"function","z":"tab-brewery","name":"Formatar Evento MQTT","func":"const ts = new Date().toISOString();\nconst status = msg.status || {};\nconst fill   = status.fill  || 'grey';\nconst text   = status.text  || '';\n\nlet eventType = 'MQTT_STATUS';\nif (fill === 'green' || text.toLowerCase().includes('connect')) {\n    eventType = 'MQTT_CONNECTED';\n} else if (fill === 'red' || text.toLowerCase().includes('disconnect') || text.toLowerCase().includes('error')) {\n    eventType = 'MQTT_DISCONNECTED';\n}\n\nmsg.payload = [[\n    ts,\n    eventType,\n    text || 'Status: ' + fill,\n    'mqtt-broker'\n]];\nmsg.spreadsheetId = env.get('SHEETS_SPREADSHEET_ID');\nmsg.sheetName     = env.get('SHEETS_TAB_EVENTS') || 'event_logs';\nmsg.range         = (env.get('SHEETS_TAB_EVENTS') || 'event_logs') + '!A:D';\n\nreturn msg;","outputs":1,"x":340,"y":380,"wires":[["n-event-sheets"]]},{"id":"n-event-sheets","type":"google-spreadsheet","z":"tab-brewery","name":"event_logs","auth":"cfg-gsa","sheet":"1ogohXwcwdkCS7RAQuY8yxecusmT3aZYUjsljqtUsw40","range":"event_logs!A:D","method":"append","action":"set","line":false,"column":false,"save":"_sheet","selfields":[""],"input":"payload","output":"payload","saveType":"msg","inputType":"msg","outputType":"msg","sheetType":"str","rangeType":"str","x":600,"y":380,"wires":[["n-dbg-events"],[]]},{"id":"n-dbg-events","type":"debug","z":"tab-brewery","name":"Event OK","active":true,"tosidebar":true,"complete":"payload","x":780,"y":380,"wires":[]},{"id":"n-health-inject","type":"inject","z":"tab-brewery","name":"Heartbeat 5min","repeat":"300","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":130,"y":520,"wires":[["n-health-check"]]},{"id":"n-health-check","type":"function","z":"tab-brewery","name":"Health Check","func":"const ts             = new Date().toISOString();\nconst queue          = flow.get('queue') || [];\nconst lastTemp       = global.get('last_temp')        || null;\nconst lastReadingTs  = global.get('last_reading_ts')  || null;\nconst totalReadings  = global.get('total_readings')   || 0;\nconst totalErrors    = global.get('total_errors')     || 0;\nconst csvLines       = global.get('csv_buffer_lines') || 0;\n\nconst ageSeconds = lastReadingTs\n    ? Math.floor((Date.now() - lastReadingTs) / 1000)\n    : null;\n\nconst brokerStatus = (ageSeconds !== null && ageSeconds < 120)\n    ? 'connected'\n    : 'unknown';\n\nmsg.payload = [[\n    ts,\n    queue.length,\n    lastTemp !== null ? lastTemp : 'N/A',\n    ageSeconds !== null ? ageSeconds : 'N/A',\n    brokerStatus,\n    totalReadings,\n    totalErrors,\n    csvLines\n]];\n\nmsg.spreadsheetId = env.get('SHEETS_SPREADSHEET_ID');\nmsg.sheetName     = env.get('SHEETS_TAB_HEALTH') || 'health_logs';\nmsg.range         = (env.get('SHEETS_TAB_HEALTH') || 'health_logs') + '!A:H';\n\nnode.status({fill:'blue', shape:'dot',\n    text: 'q:' + queue.length + ' t:' + (lastTemp || '?') + ' err:' + totalErrors});\nreturn msg;","outputs":1,"x":340,"y":520,"wires":[["n-health-sheets"]]},{"id":"n-health-sheets","type":"google-spreadsheet","z":"tab-brewery","name":"health_logs","auth":"cfg-gsa","sheet":"1ogohXwcwdkCS7RAQuY8yxecusmT3aZYUjsljqtUsw40","range":"health_logs!A:H","method":"append","action":"set","line":false,"column":false,"save":"_sheet","selfields":[""],"input":"payload","output":"payload","saveType":"msg","inputType":"msg","outputType":"msg","sheetType":"str","rangeType":"str","x":560,"y":520,"wires":[["n-dbg-health"],[]]},{"id":"n-dbg-health","type":"debug","z":"tab-brewery","name":"Health OK","active":true,"tosidebar":true,"complete":"payload","x":740,"y":520,"wires":[]}]